.card {
    flex: 1 300px;
    max-width: 300px;
    font-family: sans-serif;
    line-height: 1.2;
    margin: 30px;
    box-shadow: 2px 2px 5px grey;
    border-radius: 3px;
}

.card:hover {
    background: #f4f4f4;
    opacity: .9;
    transition: all .1s linear;
    cursor: pointer;
}

img {
    width: 300px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

h3 {
    letter-spacing: 0.3px;
}

.text {
    padding: 10px;
}