.sidebar-container {
    z-index: 10;
    position: fixed;
    left: 0;
    background-color: white;
    width: 20vw;
    height: 100vh;
    box-shadow: 12px 0px 15px -14px black;
    transition: linear .2s;
}

.sidebar-container.closed {
    left: -100%;
}

@media (max-width: 500px) {
    .sidebar-container {
        width: 70vw;
    }
}